* {
  margin: 0px;
  padding: 0px;
}
a,
p {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style-type: none;
}
a,
p {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  z-index: 2;
  position: fixed;
  background-color: #a73121;
  height: 80px;
  width: 100%;
}
label.logo {
  color: black;
  font-size: 30px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
}
nav ul li a:hover {
  color: #faf16d;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: lightgray;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
.fa-solid {
  margin-right: 3px;
}
.logo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}
.image_logo {
  position: absolute;
  width: 25%;
  top: -35%;
}
.container {
  position: relative;
}
.bg {
  position: absolute;
  width: 100%;
}
.ikona_imaste {
  border-radius: 20px;
  position: absolute;
  width: 40%;
  margin-top: 14%;
  margin-left: 10%;
}
.text_box {
  position: absolute;
  margin: 10%;
  float: right;
}
.titlos {
  position: absolute;
  margin: 8% 0% 0% 40%;
}
.text_titlos {
  color: #ffffff;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
.p1,
.p2,
.p3 {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-left: 52%;
  margin-top: 2%;
}
.p1 {
  margin-top: 5%;
}
.perioxes_xroma {
  font-weight: 800;
  color: rgb(248, 248, 44);
}
@media (min-width: 299px) and (max-width: 575px) {
  nav {
    z-index: 2;
    position: fixed;
    background-color: #a73121;
    height: 70px;
    width: 100%;
  }
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 40vh;
    background-color: #a73121;
    top: 70px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 20px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 15px;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .fa-solid {
    font-size: 13px;
    margin-right: 3px;
  }
  .fa-bars {
    font-size: 20px;
  }
  .fa-bars::before {
    color: #ffffff;
  }
  .logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
  }
  .image_logo {
    position: absolute;
    width: 250px;
    left: 0%;
    top: 5%;
  }
  label.checkbtn {
    margin-right: 18px;
  }
  .container {
    position: relative;
  }
  .bg {
    position: absolute;
    height: 100vh;
    width: 100%;
  }
  .ikona_imaste {
    width: 0px;
  }
  .text_box {
    position: absolute;
    margin: 5%;
    float: right;
  }
  .titlos {
    position: absolute;
    margin: 8% 0% 0% 40%;
  }
  h1.text_titlos {
    margin-left: -106px;
    margin-top: 75px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .p1,
  .p2,
  .p3 {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 450;
    font-size: 17px;
    line-height: 20px;
    margin-left: 0%;
    margin-top: 15%;
  }
  .p1 {
    margin-top: 50%;
  }
  .perioxes_xroma {
    font-weight: 800;
    color: rgb(248, 248, 44);
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  nav {
    z-index: 2;
    position: fixed;
    background-color: #a73121;
    height: 70px;
    width: 100%;
  }
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 30vh;
    background-color: #a73121;
    top: 70px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 20px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .fa-solid {
    font-size: 17px;
    margin-right: 3px;
  }
  .fa-bars {
    font-size: 28px;
  }
  .fa-bars::before {
    color: #ffffff;
  }
  label.checkbtn {
    margin-right: 40px;
  }
  .logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
  }
  .image_logo {
    position: absolute;
    width: 350px;
    left: 0%;
    top: -15%;
  }
  .container {
    position: relative;
  }
  .bg {
    position: absolute;
    height: 100vh;
    width: 100%;
  }
  .ikona_imaste {
    width: 0px;
  }
  .text_box {
    position: absolute;
    margin: 5%;
    float: right;
  }
  .titlos {
    position: absolute;
    margin: 8% 0% 0% 40%;
  }
  h1.text_titlos {
    margin-left: -106px;
    margin-top: 95px;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .p1,
  .p2,
  .p3 {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 450;
    font-size: 17px;
    line-height: 30px;
    margin-left: 0%;
    margin-top: 8%;
  }
  .p1 {
    margin-top: 35%;
  }
  .perioxes_xroma {
    font-weight: 800;
    color: rgb(248, 248, 44);
  }
}
@media (min-width: 768px) and (max-width: 877px) {
  nav {
    z-index: 2;
    position: fixed;
    background-color: #a73121;
    height: 70px;
    width: 100%;
  }
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 30vh;
    background-color: #a73121;
    top: 70px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 20px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .fa-solid {
    font-size: 17px;
    margin-right: 3px;
  }
  .fa-bars {
    font-size: 28px;
  }
  .fa-bars::before {
    color: #ffffff;
  }
  label.checkbtn {
    margin-right: 40px;
  }
  .logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
  }
  .image_logo {
    position: absolute;
    width: 350px;
    left: 0%;
    top: -15%;
  }
  .container {
    position: relative;
  }
  .bg {
    position: absolute;
    height: 100vh;
    width: 100%;
  }
  .ikona_imaste {
    width: 0px;
  }
  .text_box {
    position: absolute;
    margin: 5%;
    float: right;
  }
  .titlos {
    position: absolute;
    margin: 8% 0% 0% 40%;
  }
  h1.text_titlos {
    margin-left: -106px;
    margin-top: 95px;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .p1,
  .p2,
  .p3 {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 450;
    font-size: 17px;
    line-height: 30px;
    margin-left: 0%;
    margin-top: 8%;
  }
  .p1 {
    margin-top: 35%;
  }
  .perioxes_xroma {
    font-weight: 800;
    color: rgb(248, 248, 44);
  }
}
@media (min-width: 878px) and (max-width: 992px) {
  * {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
  }
  a,
  p {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  nav {
    z-index: 2;
    position: fixed;
    background-color: #a73121;
    height: 80px;
    width: 100%;
  }
  label.logo {
    color: black;
    font-size: 30px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul {
    float: right;
    margin-right: 20px;
  }
  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 1px;
  }
  nav ul li a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 15px;
    padding: 7px 13px;
  }
  .checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check {
    display: none;
  }
  .fa-solid {
    margin-right: -3px;
  }
  .logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
  }
  .image_logo {
    position: absolute;
    width: 30%;
    top: 1%;
    left: -1%;
  }
  .container {
    position: relative;
  }
  .bg {
    position: absolute;
    height: 100vh;
    width: 100%;
  }
  .ikona_imaste {
    width: 0px;
  }
  .text_box {
    position: absolute;
    margin: 5%;
    float: right;
  }
  .titlos {
    position: absolute;
    margin: 8% 0% 0% 40%;
  }
  h1.text_titlos {
    margin-left: -106px;
    margin-top: 95px;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .p1,
  .p2,
  .p3 {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 450;
    font-size: 17px;
    line-height: 30px;
    margin-left: 0%;
    margin-top: 4%;
  }
  .p1 {
    margin-top: 28%;
  }
  .perioxes_xroma {
    font-weight: 800;
    color: rgb(248, 248, 44);
  }
}
@media (min-width: 993px) and (max-width: 1199px) {
  * {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
  }
  a,
  p {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  nav {
    z-index: 2;
    position: fixed;
    background-color: #a73121;
    height: 80px;
    width: 100%;
  }
  label.logo {
    color: black;
    font-size: 30px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul {
    float: right;
    margin-right: 20px;
  }
  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 1px;
  }
  nav ul li a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 15px;
    padding: 7px 13px;
  }
  .checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check {
    display: none;
  }
  .fa-solid {
    margin-right: -3px;
  }
  .logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
  }
  .image_logo {
    position: absolute;
    width: 30%;
    top: 1%;
    left: -1%;
  }
  .container {
    position: relative;
  }
  .bg {
    position: absolute;
    height: 100vh;
    width: 100%;
  }
  .ikona_imaste {
    width: 0px;
  }
  .text_box {
    position: absolute;
    margin: 5%;
    float: right;
  }
  .titlos {
    position: absolute;
    margin: 8% 0% 0% 40%;
  }
  h1.text_titlos {
    margin-left: -106px;
    margin-top: 95px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .p1,
  .p2,
  .p3 {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 450;
    font-size: 23px;
    line-height: 30px;
    margin-left: 0%;
    margin-top: 4%;
  }
  .p1 {
    margin-top: 28%;
  }
  .perioxes_xroma {
    font-weight: 800;
    color: rgb(248, 248, 44);
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  * {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
  }
  a,
  p {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  nav {
    z-index: 2;
    position: fixed;
    background-color: #a73121;
    height: 80px;
    width: 100%;
  }
  label.logo {
    color: black;
    font-size: 30px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul {
    float: right;
    margin-right: 20px;
  }
  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 1px;
  }
  nav ul li a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 20px;
    padding: 7px 13px;
  }
  .checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check {
    display: none;
  }
  .fa-solid {
    margin-right: -3px;
  }
  .logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
  }
  .image_logo {
    position: absolute;
    width: 30%;
    top: -10%;
    left: -1%;
  }
  .container {
    position: relative;
  }
  .bg {
    position: absolute;
    height: 100vh;
    width: 100%;
  }
  .ikona_imaste {
    width: 0px;
  }
  .text_box {
    position: absolute;
    margin: 5%;
    float: right;
  }
  .titlos {
    position: absolute;
    margin: 8% 0% 0% 40%;
  }
  h1.text_titlos {
    margin-left: -106px;
    margin-top: 95px;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .p1,
  .p2,
  .p3 {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 450;
    font-size: 28px;
    line-height: 30px;
    margin-left: 0%;
    margin-top: 4%;
  }
  .p1 {
    margin-top: 28%;
  }
  .perioxes_xroma {
    font-weight: 800;
    color: rgb(248, 248, 44);
  }
}
